// placeholder marginTop10
%marginTop10 {
	margin-top: 10px;
}

// placeholder skill
%skill {
	height: 24px;
	@include borderRadius(10px);
}

// placeholder div #About
%divAbout {
	width: 500px;
	text-align: left;
}

// placeholder flexbox
%displayFlex {
	display: flex;
}

%justifyContentCenter {
	justify-content: center;
}

%alignItemsCenter {
	align-items: center;
}

%flexDirectionColumn {
	flex-direction: column;
}

%flexWrap {
	flex-wrap: wrap;
}