// Section Accueil
#home {
	#buttonContact {
		a {
			margin: 0 5px;
			padding: 12px 5px;
		}
	}
}

// Section "Me concernant"
#about {
	flex-direction: column;
	article {
		width: 100%;
		margin: 10px 0;
	}
}